extends layout

block content
    #theContent
        h1 Edit Profile
        form(action="/users/edit/"+user._id method="post" enctype='multipart/form-data')
                #form-group
                    input(type="file" name="uploadimg" originalname=user.displaypic filename=user.displaypic)
                    br
                #form-group
                    label Interest:
                    br
                    input.form-control(id='interest' name='interest' type='text' value=user.interest)
                #form-group
                    label About Me:
                    br
                    input.form-control(id='about' name='about' type='text' value=user.aboutme)

                input(type="submit" value="upload")